body {
    text-align: left;
}

p {
    text-align: left;
}

blockquote {
    text-align: left;
    font-weight: 400;
    font-style: italic;
}

ul, ol {
    text-align: left;
}

img[alt=discord] {
    width: 250px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
